.clients.list {
  display: flex;
}

.clients__link {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 170px;
  height: 94px;
  border: 1px solid $icon-gray-color;
  border-radius: 4px;
  color: $icon-gray-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: currentColor;
}



.clients__item {
  &:hover .clients__link {
  border-color: $accent-color;
  color: $accent-color;
  }
}


.clients__link {
  &:focus {
  outline-color: $accent-color;
  color: $accent-color;
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}
