.link-footer-info {
  margin-top: 12px;
  margin-left: 70px;
}

.join {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-text;
}


.footer-nav__email-link {

  &:focus, &:hover {
  color: $accent-color;
  }
}


.footer-nav__phone-link {

  &:focus, &:hover {
  color: $accent-color;
  }
}


.page-footer__container {
  display: flex;
}

.social-links .footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.page-footer {
  background-color: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer a {
  text-decoration: none;
}

.footer-nav__map-link {
  color: $white-text;
}

.footer-nav__map-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-nav__map-link {

  &:hover, &:focus {
  color: $accent-color;
  }
}

.footer-nav__map {
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav__map,
.footer-nav__email {
  margin-bottom: 9px;
}

.footer-nav__email-link,
.footer-nav__phone-link {
  color: $footer-contacts-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__map {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-nav__phone,
.footer-nav__email {
  font-size: 14px;
  line-height: 1.71;
}

.footer-nav__email {
  margin-bottom: 9px;
}
.address {
  font-style: normal;
}
.footer-subscribe {
  margin-top: 12px;
  margin-left: auto;
}
.footer-subscribe__title {
  margin-bottom: 20px;
  color: $white-text;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__form {
  display: flex;
}
.footer-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  min-height: 50px;
  min-width: 200px;
  color: $white-text;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}
.footer-form__input {
  margin-right: 12px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  background-color: $secondary-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__button-title {
  color: $white-text;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.footer-form__button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: $white-text;
}
.footer-subscribe-box {
  display: flex;
}
