.header {
  background-color: $primary-bg-color;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header--portfolio {
  border-bottom: 1px solid #ececec;
}

.current-pointer {
  position: absolute;
  bottom: 0;
  width: 78px;
  height: 4px;
  border-radius: 4px;
  background-color: $accent-color;
}

/* Site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
  margin-left: 93px;
}

.main-nav__item + .main-nav__item {
  margin-left: 50px;
}

.main-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.main-nav__link {

  &:hover, &:focus {
  color: $accent-color;
  }
}

.main-nav__link {

  &.current {
  color: $accent-color;
  position: relative;
  }
}

.main-nav__link {

  &.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  //   display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  //   display: flex;
  bottom: 0;
  background-color: $accent-color;
  }
}

/* Contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// .contacts__link:hover,
// .contacts__link:focus {
//   color: $accent-color;
// }

// .contacts__link:hover .contacts__icon,
// .contacts__link:focus .contacts__icon {
//   fill: $accent-color;
// }








.contacts__link {

  &:hover, &:focus {
  color: $accent-color;
  }
}



.contacts__link {

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    
  fill: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: $icon-gray-color;
}
